<%= form_for @ship do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %><br>
	<%= f.label :score %>
	<%= f.text_field :score %><br>
	<%if @ship.errors.any? %>
		<%= @ship.errors.messages[:name][0] %>
	<% end %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>