<h1><%= @ship.name %></h1>
<p>素の索敵値：<%= @ship.score %></p>
<ul>
<% sum=0 %>
<% @ship.equips.each do |equip| %>
<li><%= equip.name %>	： <%= equip.score %>	
<%= link_to "Delete",ship_equip_path(equip.ship_id,equip.id),method: :delete,data:{confirm:"よろしいですか？"} %>
</li>
<% sum+=equip.score %>
<% end %>

合計		： <%= sum %>
<br>
<br>偵察機
<%= form_for [@ship,@ship.equips.build] do |f|%>
	<%= f.collection_select :eq_datum_id, @teisatuki, :id, :view_name_and_scores ,:include_blank=>true %>
	<%= f.submit value="追加"%>
<% end %>
電探
<%= form_for [@ship,@ship.equips.build] do |f|%>
	<%= f.collection_select :eq_datum_id, @dentan, :id, :view_name_and_scores ,:include_blank=>true %>
	<%= f.submit value="追加"%>
<% end %>
その他
<%= form_for [@ship,@ship.equips.build] do |f|%>
	<%= f.collection_select :eq_datum_id, @other, :id, :view_name_and_scores ,:include_blank=>true %>
	<%= f.submit value="追加"%>
<% end %>