<h1><%= @ship.name %></h1>
<p>素の索敵値：<%= @ship.score %></p>
<ul>
<% sum=0 %>
<% @ship.equips.each do |equip| %>
<li><%= equip.name %>	： <%= equip.score %>	
<%= link_to "Delete",ship_equip_path(equip.ship_id,equip.id),method: :delete,data:{confirm:"よろしいですか？"} %>
</li>
<% sum+=equip.score %>
<% end %>
<li>
<%= form_for [@ship,@ship.equips.build] do |f| %>
<%= f.text_field :name %>
<%= f.text_field :score %>
<%= f.submit %>
<% end %>
</li>
合計		： <%= sum %>
<%= select :page, :name, [["Railsの基礎", "rails_base"], ["Rubyの基礎", "ruby_base"]] %>

<%= form_for [@ship,@ship.equips.build] do |f|%>

<%= f.collection_select :name, EqDatum.all, :id, :view_name_and_scores %>
	<%= f.submit %>
<% end %>
<%=EqDatum.find(1).id%>
